<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
  <meta name="baidu-site-verification" content="code-lNnlmPfaZ6" />
	<title>{{ page.title }} | {{ site.SEOTitle }}</title>
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% endif %}
	<meta name="author" content="{{ site.author }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Enable responsive viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="baidu-site-verification" content="fkVXkUbHNR" />
        <meta name="keywords" content="学习笔记, 博客, Python, zfx, ZFX521, Android, Web">

	<!-- 国产高速渲染 -->
	<meta name="renderer" content="webkit">
	<link rel="shortcut icon" href="https://zfx521.gitee.io/img/favicon.ico">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.BASE_PATH }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.SEOTitle }}" href="{{ site.BASE_PATH }}/feed.xml">
	<!-- Le styles -->
	<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/syntax/syntax.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/css/style.css" rel="stylesheet">
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- google-analytics	 -->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97824262-2', 'auto');
  ga('send', 'pageview');

</script>
<!-- music↓-->
<link rel="stylesheet" href="https://zfx521.gitee.io/css/player.css">
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?c3462291b89cf3da802fd625f04c4915";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>
</head>

<body ontouchstart="">
<!-- 文章进度条 -->
<div class="progress-indicator" style="width: 0%;"></div>
	{% include nav.html %}

	{{ content }}

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    {% if site.RSS %}
                    <li>
                        <a href="{{site.base_PATH}}/{{site.RSS}}" >
                            <i class="fa fa-rss fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    {% endif %}
					{% if site.email %}
                    <li>
                        <a target="_blank" href="mailto:{{ site.email }}">
							<i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
						</a>
					</li>
					{% endif %}
					{% if site.linkedin %}
					<li>
						<a target="_blank" href="https://linkedin.com/in/{{ site.linkedin }}">
							<i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
						</a>
					</li>
					{% endif %}
                </ul>
				<style>p.copyright.text-muted {color: #bfbfbf;} </style>
				<p class="copyright text-muted">
          <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
          </script>
    <script>  
      //这里代码多了几行，但是不会延迟显示，速度比较好，格式可以自定义，是理想的时间显示
      //实时时间的显示<span id="show_time"></span>
      setInterval("fun(show_time)",100);
      function fun(timeID){ 
      var date = new Date();  //创建对象  
      var y = date.getFullYear();     //获取年份  
      var m =date.getMonth()+1;   //获取月份  返回0-11  
      var d = date.getDate(); // 获取日  
      var w = date.getDay();   //获取星期几  返回0-6   (0=星期天) 
      var ww = ' 星期'+'日一二三四五六'.charAt(new Date().getDay()) ;//星期几
      var h = date.getHours();  //时
      var minute = date.getMinutes()  //分
      var s = date.getSeconds(); //秒
      if(m<10){
      m = "0"+m;
      }
      if(d<10){
      d = "0"+d;
      }
      if(h<10){
      h = "0"+h;
      }
      if(minute<10){
      minute = "0"+minute;
      }
      if(s<10){
      s = "0"+s;
      }
      document.getElementById(timeID.id).innerHTML =  y+"-"+m+"-"+d+"   "+h+":"+minute+":"+s+"  "+ww;
      //document.write(y+"-"+m+"-"+d+"   "+h+":"+minute+":"+s);  
        }
        setInterval("yeara(show_year)",100);
        function yeara(timeyear){ 
          var d1ate = new Date();  //创建对象  
          var year = d1ate.getFullYear();     //获取年份  
          document.getElementById(timeyear.id).innerHTML =  "@2021-"+year;
        }
        setInterval("timeing(show_yxts)",100);
        function timeing(show_yxts){ 
          // 初始时间，月/日/年 时:分:秒
          X = new Date("11/14/2021 11:50:00");
          Y = new Date();
          T = (Y.getTime()-X.getTime());
          M = 24*60*60*1000;
          a = T/M;
          A = Math.floor(a);
          b = (a-A)*24;
          B = Math.floor(b);
          c = (b-B)*60;
          C = Math.floor((b-B)*60);
          D = Math.floor((c-C)*60);
          //信息写入到DIV中 
          document.getElementById(show_yxts.id).innerHTML = "本站已运行: "+A+"天"+B+"小时"+C+"分"+D+"秒";
        }
      </script>
		<span class="label label-primary label-md"><strong>转载请标明作者和出处</strong></span><br><span id="show_year"></span> | <a href="http://tongji.baidu.com/web/welcome/ico?s=c3462291b89cf3da802fd625f04c4915" style="color: #bfbfbf" target="_blank">访问量：<span id="busuanzi_container_site_pv"><span id="busuanzi_value_site_pv"></span></span></a> <br> <span id="show_yxts"></span> <br> <span id="show_time"></span> <br> 备案号：{{ site.bah }}
                </p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/blog.js"></script>
<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/jquery-tagcloud.js"></script>

<!-- 文章进度条：在style.css里面更改进度条样式 -->
<script>
    /* 顶部进度条 */
    (function() {
      var $w = $(window);
      var $prog2 = $('.progress-indicator');
      var wh = $w.height();
      var h = $('body').height();
      var sHeight = h - wh;
      $w.on('scroll', function() {
        window.requestAnimationFrame(function(){
          var perc = Math.max(0, Math.min(1, $w.scrollTop() / sHeight));
          updateProgress(perc);
        });
      });

      function updateProgress(perc) {
        $prog2.css({width: perc * 100 + '%'});
      }
    }());
</script>
<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>

<!--fastClick.js -->
<script>
    async("//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js", function(){
    FastClick.attach(document.body);
    })
</script>

<!--page views
<script src="https://cdn1.lncld.net/static/js/av-mini-0.6.10.js"></script>
<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/hit-counter.js"></script>
-->
<!-- back-to-top -->
<div id="back-top">
  <a href="#section" data-toggle="tooltip" data-placement="top" title="top">
  <i class="fa fa-chevron-up" aria-hidden="true"></i>
  </a>
</div>
<!-- <script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/jquery/jquery-1.8.3.js"></script> -->
<script>
	$('#back-top').hide();
	$(document).ready(function () {
	$(window).scroll(function () {
    if ($(this).scrollTop() > 250) {
      $('#back-top').fadeIn();
    } else {
      $('#back-top').fadeOut();
    }
  });
  $('#back-top a').click(function () {
    $('body,html').animate({
      scrollTop: 0
    }, 800);
    return false;
  });
});
</script>
<!-- jquery.tagcloud.js -->
<script>
    // only load tagcloud.js in tag.html
    if($('#tag_cloud').length !== 0){
        async('/assets/js/jquery-tagcloud.js',function(){
            $.fn.tagcloud.defaults = {
                //size: {start: 1, end: 1, unit: 'em'},
                color: {start: '#bbbbee', end: '#0085a1'},
            };
            $('#tag_cloud a').tagcloud();
        })
    }
</script>
<!-- 百度自动推送链接 -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<!--music下-->
<div id="QPlayer">
  <div id="pContent">
    <div id="player">
      <span class="cover"></span>
      <div class="ctrl">
        <div class="musicTag marquee">
           <strong></strong>
           <span></span>
          <span class="artist"></span>
        </div>
        <div class="progress">
          <div class="timer left"></div>
          <div class="contr">
            <div class="rewind icon"></div>
            <div class="playback icon"></div>
            <div class="fastforward icon"></div>
          </div>
          <div class="right">
            <div class="liebiao icon"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="ssBtn">
            <div class="adf"></div>
      </div>
  </div>
  <ol id="playlist"></ol>
  </div>
  
  <script src="https://zfx521.gitee.io/js/jquery.min.js"></script>
  <script src="https://zfx521.gitee.io/js/jquery.marquee.min.js"></script>
  
  <script src="https://zfx521.gitee.io/js/music.js"></script>
  <script src="https://zfx521.gitee.io/js/player.js"></script>
  <script>
  
  function bgChange(){
    var lis= $('.lib');
    for(var i=0; i<lis.length; i+=2)
    lis[i].style.background = 'rgba(246, 246, 246, 0.5)';
  }
  window.onload = bgChange;
  </script>
<!--music上-->
</body>
</html>
